<h1><%= @topic.name %></h1>
<div><%= link_to "Edit Topic", edit_topic_path(@topic) %></div>
<div><%= link_to "Delete Topic", topic_path(@topic), method: :delete, data: { confirm: "Are you sure you want to delete this topic?" } %></div>
<hr>
<div>
  <h3>Word List</h3>
  <%= link_to "Add Word", new_topic_word_path(@topic), remote: true, class: "new-word-button" %>
  <br>
  <table>
    <!-- FIXME: new word appends only on refresh -->
    <tr class="my-words">
    <% @topic.words.each do |word|  %>
    <%= render word %>
    <% end %>
    </tr>
  </table>
</div>
