<h1><%= @topic.name %></h1>
<div><%= link_to "Edit Topic", edit_topic_path(@topic) %></div>
<div><%= link_to "Delete Topic", topic_path(@topic), method: :delete, data: { confirm: "Are you sure you want to delete this topic?" } %></div>
<hr>
<div>
  <h3>Word List</h3>
  <%= link_to "Add Word", new_topic_word_path(@topic) %>
  <br>
  <table>
    <tr>
      <th>Term</th>
      <th>Part of Speech</th>
      <th>Definition</th>
      <th>Example</th>
    </tr>
    <tr>
    <% @topic.words.each do |word|  %>
      <!-- TODO: To make your code even more modular, you could consider making a "word" partial -->
      <%= link_to "Edit Word", edit_word_path(word) %>
      <td><%= link_to "#{word.term}", word_path(word) %></td>
      <td><%= word.pos %></td>
      <td><%= word.definition %></td>
      <%= link_to "Delete Word", word_path(word), method: :delete, data: { confirm: "Are you sure you want to delete?"} %>
    <% end %>
    </tr>
  </table>
</div>
