<div class="container signin">
  <h1 id="header">Wordstock</h1>
  <h3>Your personal dictionary</h3>
  <%= form_for @user do |f| %>
    <div class="col-md-offset-4 col-md-4 panel panel-default signin-form">
      <div class="panel-heading">
        <h1>Sign Up</h1>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-user" style="width: auto"></i>
            </span>
            <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-envelope" style="width: auto"></i>
            </span>
            <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock" style="width: auto"></i>
            </span>
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-lock" style="width: auto"></i>
            </span>
            <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.submit "Sign Up", :class => "btn btn-primary"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
