<h1>Hello, <%= @user.first_name %></h1>
<p>Member since <%= @user.created_at.strftime("%b %-d, %Y %-l:%M%P")%></p>
<%= link_to "Edit Account", edit_user_path(@user)  %>
<%= link_to "Delete Account", user_path(@user), method: :delete %>
<div>
  <h2><%= @user.first_name %>'s Topics</h2>
  <%= link_to "Add New Topic", new_user_topic_path(@user) %>
  <ul>
    <% @user.topics.each do |topic| %>
    <li><%= link_to "#{topic.name}", topic_path(topic) %></li>
    <% end %>
  </ul>
</div>
